<div class="jumbotron">
<div class="container">
    <div ng-repeat="article in articles">
        <div class="col-xs-15">
            <div class="thumbnail">
                <img ng-src="{{article.image | imagefilter}}" class="img-responsive" alt="{{article.title}}" />
                <a ng-class="glyph[$index] ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'" ng-click="favArticle(article)"></a>
                <span ng-class="'label label-{{article.section_name | labelfilter}}'">{{article.section_name | sectionfilter}}</span>
                <div class="caption"><h2>{{article.title}}</h2></div>
            </div>
        </div> 
    </div>
</div>
</div>