<div class="jumbotron">
<div class="container-fluid">
    <!--<slideshow ng-if="loaded" images="articles" />-->
    <div class="slider">
        <div class="slider-picturebox">
            <div ng-repeat="article in articles" ng-if="show($index)" ng-class="showClass($index)">
                <div class="thumbnail">
                    <img data-ng-src="{{article.image | imagefilter}}" />
                    <a ng-class="'glyphicon glyphicon-remove'" ng-click="deleteArticle(article)"></a>
                </div>
            </div>
        </div>
        <div class="slider-controls">
            <div class="slider-back">
                <a href=''><h2 ng-click="sliderBack()"><</h2></a>
            </div>
            <div class="slider-forward">
                <a href=''><h2 ng-click="sliderForward()">></h2></a>
            </div>
        </div>
    </div>
</div>
</div>