<div class="jumbotron">
<div class="container">
    <form name="loginForm" ng-submit="loginForm.$valid && ctrl.Login(user)" novalidate>
        <div class="input-group col-lg-4">
            <span class="input-group-addon">Username</span>
            <input class="form-control" name="username" type="email" ng-model="user.username" width="200" required/>
        </div>
        <br/>
        <div class="input-group col-lg-4">
            <span class="input-group-addon">Password</span>
            <input class="form-control" name="password" type="password" ng-model="user.password" required/>
        </div>
        <br/>
        <input name="grant_type" type="hidden" ng-model="user.grant_type" ng-init="user.grant_type=grant_type"/>
        <input name="client_id" type="hidden" ng-model="user.client_id" ng-init="user.client_id=client_id"/>
        <input name="client_secret" type="hidden" ng-model="user.client_secret" ng-init="user.client_secret=client_secret"/>
        <br/>
        <div>
            <input class="btn btn-primary btn-lg" type="submit" value="Login" />
        </div>
        <br/>
        <div class="alert alert-danger" role="alert" ng-show="!success">{{error_msg}}</div>
    </form>
</div>
</div>