/*
    LOGIN
*/
.login.ng-invalid.ng-dirty{
    border-color: #FA787E;
}

.login.ng-valid.ng-dirty{
    border-color: #78FA89;
}

/*
    OSTALO
*/

.thumbnail {
    overflow: hidden;
    position: relative;
    background: transparent;
    border: none;
    padding: 0;

    border-radius: 0;
}

.thumbnail .label,
.media .label {
    position: absolute;
    top: 6px;
    right: 6px;
    background: #000;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    padding: 3px 6px;

    border-radius: 0;
}

/* Colors for different sections */
.thumbnail .label-novice,
.media .label-novice {
    background: #1592e6;
    border-color: #1170b0;
}

.thumbnail .label-magazin,
.media .label-magazin {
    background: #ff660b;
    border-color: #d55a12;
}

.thumbnail .label-zanimivosti,
.media .label-zanimivosti {
    background: #7c7c7c;
    border-color: #5b5b5b;
}

.thumbnail .label-revije,
.media .label-revije {
    background: #2cbcbc;
    border-color: #1e8787;
}

.thumbnail .label-njena,
.media .label-njena {
    background: #cd0099;
    border-color: #7d005d;
}

.thumbnail .label-ekipa,
.thumbnail .label-ekipa24,
.thumbnail .label-sport,
.media .label-ekipa {
    background: #d00000;
    border-color: #d55a12;
}

.thumbnail .glyphicon {
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: 28px;
    color: #ffffff;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}

.thumbnail .glyphicon:hover {
    text-decoration: none;
    font-size: 36px;
}

.thumbnail .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.thumbnail .caption h2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-16 {
    width: 16.66666667%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-16 {
        width: 16.66666667%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-16 {
        width: 16.66666667%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-16 {
        width: 16.66666667%;
        float: left;
    }
}

.slider {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;

    border-radius: 0;
}

.slider-picturebox {
    position: relative;
    left: 8%;
    background: transparent;
}

.slider-back h2{
    position: absolute;
    bottom: 37%;
    left: 0;
    font-size: 40px;
    font-weight: 800;
    color: #000000;
}

.slider-forward h2{
    position: absolute;
    bottom: 37%;
    right: 0;
    font-size: 40px;
    font-weight: 800;
    color: #000000;
}

.animate-img.ng-enter {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
} 

.animate-img.ng-enter {
    opacity:0;
}

.animate-img.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-img.ng-leave {
    opacity:1;
}

.animate-img.ng-enter.ng-enter-active {
    opacity:1;
}